@tailwind base;
@tailwind components;
@tailwind utilities;

.print-agreement {
    margin: 1em;
    /* padding: 1em; */
}

@media print {
    .print\:block {
        margin: 0;
    }
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }

}